.app-title {{ title }}
.container
  p Welcome to the Angular2 RC 1 startup application.
  | It is intended to help get started developing an angular 2 application.
  | As you can tell from the title, this is based on angular 2 RC 1, and as such 
  | it may change as we get closer to the official release of angular 2.
  p This application makes use of the following:
  ul
        li Typescript - Javascript super language
        li Pug (formerly know as Jade) - template engine
        li Sass - the css language/compiler